#Pycharm.
.idea/
*.pyc
~*/

#Why do you even need these on Github?
audio_cache/
dectalk/

#Bot logs and configs
rtb.log
discord.log
logs/
config/options.ini
config/permissions.ini
config/autoplaylist.txt
config/autoplaylist_removed.txt

# Windows nonsense
## Windows image file caches
Thumbs.db
ehthumbs.db

## Folder config file
Desktop.ini

## Recycle Bin used on file shares
$RECYCLE.BIN/

## Windows Installer files
*.cab
*.msi
*.msm
*.msp

## Windows shortcuts
*.lnk

# macOS nonsense
*.DS_Store
.AppleDouble
.LSOverride

## Icon must end with two \r
Icon


## Thumbnails
._*

## Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

## Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
