.idea/
*.pyc
~*/

audio_cache/
dectalk/

discord.log
config/options.ini
config/permissions.ini
/config/challonge/challonge.ini
/config/excel/RobTheBoat-f183ef9f39ae.json
/config/excel/discord-auto-login-c480a18f18c9.json
/config/excel
